*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000000;
}
h2{
    position: relative;
    font-size: 10vw;
    color: #3F0071;
    -webkit-text-stroke: 0.3vw #150050;
    text-transform: uppercase;
}
h2::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: #FB2576;
    -webkit-text-stroke: 0vw #150050;
    border-top: 2px solid #FB2576;
    border-left: 2px solid #FB2576;
    border-right: 2px solid #FB2576;
    border-bottom: 2px solid #FB2576;
    overflow: hidden;
    animation: animate 4s linear infinite;
}
@keyframes animate {
    0% , 10% , 100%{
        width: 0;
    }
    70% , 90% {
        width: 100%;
    }
}